<html lang="en">
  <%- include('./partials/head.ejs')  %>
  <body>
    
    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Welcome to Blog Ninja, your go-to platform for insightful, inspiring, and engaging content! Our mission is to create a space where ideas flow freely and stories connect people across the world.
      </p>
      <br>
      <p>
        Thank you for being a part of our journey. We hope you find value, joy, and inspiration in every visit. Together, let's explore ideas, spark creativity, and make this world a little more connected.

      </p>
   
    </div>
    <%- include('./partials/footer.ejs')  %>
  </body>
</html>
